#welcome-section {
  height: 100vh;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
#navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 50px;
  background-color: lightgrey;
  text-align: center;
  line-height: 50px;
}
.navbar-link{
  margin: 50px;
}

@media only screen and (max-width: 768px)
{
  #navbar {
    position: static;
    top: 0px;
}
  }