@charset "UTF-8";
html {
  font-size: 10px;
}

header{
    text-justify: center;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    margin:  50 auto;
    background: repeating-linear-gradient(
      45deg,
      yellow 0px,
      yellow 40px,
      black 40px,
      black 80px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
}

#img-div {
  width: 480px;
  height: 360px;
  margin: auto;
  padding: 50px;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.4em;
  font-style: italic;
}
